<a href="https://colab.research.google.com/github/KarlYang2013/tf_study/blob/master/tf_premade_estimators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import sklearn
import pandas as pd
import os
import sys
import time
import tensorflow as tf

from tensorflow import keras

print(tf.__version__)
print(sys.version_info)
for module in mpl, np, pd, sklearn, tf, keras:
    print(module.__name__, module.__version__)

2.0.0
sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)
matplotlib 3.1.1
numpy 1.17.3
pandas 0.25.3
sklearn 0.21.3
tensorflow 2.0.0
tensorflow_core.keras 2.2.4-tf

In [ ]:
# https://storage.googleapis.com/tf-datasets/titanic/train.csv
# https://storage.googleapis.com/tf-datasets/titanic/eval.csv
train_file = "./data/titanic/train.csv"
eval_file = "./data/titanic/eval.csv"

train_df = pd.read_csv(train_file)
eval_df = pd.read_csv(eval_file)

print(train_df.head())
print(eval_df.head())

   survived     sex   age  n_siblings_spouses  parch     fare  class     deck  \
0         0    male  22.0                   1      0   7.2500  Third  unknown
1         1  female  38.0                   1      0  71.2833  First        C
2         1  female  26.0                   0      0   7.9250  Third  unknown
3         1  female  35.0                   1      0  53.1000  First        C
4         0    male  28.0                   0      0   8.4583  Third  unknown

   embark_town alone
0  Southampton     n
1    Cherbourg     n
2  Southampton     y
3  Southampton     n
4   Queenstown     y
   survived     sex   age  n_siblings_spouses  parch     fare   class  \
0         0    male  35.0                   0      0   8.0500   Third
1         0    male  54.0                   0      0  51.8625   First
2         1  female  58.0                   0      0  26.5500   First
3         1  female  55.0                   0      0  16.0000  Second
4         1    male  34.0                   0      0  13.0000  Second

      deck  embark_town alone
0  unknown  Southampton     y
1        E  Southampton     y
2        C  Southampton     y
3  unknown  Southampton     y
4        D  Southampton     y

In [ ]:
y_train = train_df.pop('survived')
y_eval = eval_df.pop('survived')

print(train_df.head())
print(eval_df.head())
print(y_train.head())
print(y_eval.head())

      sex   age  n_siblings_spouses  parch     fare  class     deck  \
0    male  22.0                   1      0   7.2500  Third  unknown
1  female  38.0                   1      0  71.2833  First        C
2  female  26.0                   0      0   7.9250  Third  unknown
3  female  35.0                   1      0  53.1000  First        C
4    male  28.0                   0      0   8.4583  Third  unknown

   embark_town alone
0  Southampton     n
1    Cherbourg     n
2  Southampton     y
3  Southampton     n
4   Queenstown     y
      sex   age  n_siblings_spouses  parch     fare   class     deck  \
0    male  35.0                   0      0   8.0500   Third  unknown
1    male  54.0                   0      0  51.8625   First        E
2  female  58.0                   0      0  26.5500   First        C
3  female  55.0                   0      0  16.0000  Second  unknown
4    male  34.0                   0      0  13.0000  Second        D

   embark_town alone
0  Southampton     y
1  Southampton     y
2  Southampton     y
3  Southampton     y
4  Southampton     y
0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64
0    0
1    0
2    1
3    1
4    1
Name: survived, dtype: int64

In [ ]:
train_df.describe()

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [ ]:
categorical_columns = ['sex', 'n_siblings_spouses', 'parch', 'class',
                       'deck', 'embark_town', 'alone']
numeric_columns = ['age', 'fare']

feature_columns = []
for categorical_column in categorical_columns:
    vocab = train_df[categorical_column].unique()
    print(categorical_column, vocab)
    feature_columns.append(
        tf.feature_column.indicator_column(
            tf.feature_column.categorical_column_with_vocabulary_list(
                categorical_column, vocab)))

for categorical_column in numeric_columns:
    feature_columns.append(
        tf.feature_column.numeric_column(
            categorical_column, dtype=tf.float32))

sex ['male' 'female']
n_siblings_spouses [1 0 3 4 2 5 8]
parch [0 1 2 5 3 4]
class ['Third' 'First' 'Second']
deck ['unknown' 'C' 'G' 'A' 'B' 'D' 'F' 'E']
embark_town ['Southampton' 'Cherbourg' 'Queenstown' 'unknown']
alone ['n' 'y']

In [ ]:
def make_dataset(data_df, label_df, epochs = 10, shuffle = True,
                 batch_size = 32):
    dataset = tf.data.Dataset.from_tensor_slices(
        (dict(data_df), label_df))
    if shuffle:
        dataset = dataset.shuffle(10000)
    dataset = dataset.repeat(epochs).batch(batch_size)
    return dataset

In [ ]:
linear_output_dir = 'linear_model'
if not os.path.exists(linear_output_dir):
    os.mkdir(linear_output_dir)
linear_estimator = tf.estimator.LinearClassifier(
    model_dir = linear_output_dir,
    n_classes = 2,
    feature_columns = feature_columns)
linear_estimator.train(input_fn = lambda : make_dataset(
    train_df, y_train, epochs = 100))

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': 'linear_model', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fa9982d29b0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer linear/linear_model is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /usr/local/google/home/zhangyx/workspace/environment/tf2_py3/lib/python3.7/site-packages/tensorflow_core/python/feature_column/feature_column_v2.py:518: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From /usr/local/google/home/zhangyx/workspace/environment/tf2_py3/lib/python3.7/site-packages/tensorflow_core/python/feature_column/feature_column_v2.py:4276: IndicatorColumn._variable_shape (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From /usr/local/google/home/zhangyx/workspace/environment/tf2_py3/lib/python3.7/site-packages/tensorflow_core/python/feature_column/feature_column_v2.py:4331: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into linear_model/model.ckpt.
INFO:tensorflow:loss = 0.6931472, step = 0
INFO:tensorflow:global_step/sec: 325.807
INFO:tensorflow:loss = 0.42389417, step = 100 (0.307 sec)
INFO:tensorflow:global_step/sec: 538.789
INFO:tensorflow:loss = 0.41794586, step = 200 (0.187 sec)
INFO:tensorflow:global_step/sec: 488.346
INFO:tensorflow:loss = 0.44366908, step = 300 (0.206 sec)
INFO:tensorflow:global_step/sec: 423.734
INFO:tensorflow:loss = 0.4619617, step = 400 (0.236 sec)
INFO:tensorflow:global_step/sec: 428.93
INFO:tensorflow:loss = 0.36795616, step = 500 (0.233 sec)
INFO:tensorflow:global_step/sec: 407.899
INFO:tensorflow:loss = 0.42971158, step = 600 (0.244 sec)
INFO:tensorflow:global_step/sec: 475.927
INFO:tensorflow:loss = 0.44661593, step = 700 (0.210 sec)
INFO:tensorflow:global_step/sec: 442.412
INFO:tensorflow:loss = 0.5238398, step = 800 (0.227 sec)
INFO:tensorflow:global_step/sec: 421.272
INFO:tensorflow:loss = 0.45866603, step = 900 (0.237 sec)
INFO:tensorflow:global_step/sec: 454.903
INFO:tensorflow:loss = 0.66123474, step = 1000 (0.220 sec)
INFO:tensorflow:global_step/sec: 410.987
INFO:tensorflow:loss = 0.34859017, step = 1100 (0.243 sec)
INFO:tensorflow:global_step/sec: 416.168
INFO:tensorflow:loss = 0.53695357, step = 1200 (0.240 sec)
INFO:tensorflow:global_step/sec: 409.937
INFO:tensorflow:loss = 0.47836226, step = 1300 (0.244 sec)
INFO:tensorflow:global_step/sec: 419.925
INFO:tensorflow:loss = 0.57110643, step = 1400 (0.238 sec)
INFO:tensorflow:global_step/sec: 416.44
INFO:tensorflow:loss = 0.5414425, step = 1500 (0.240 sec)
INFO:tensorflow:global_step/sec: 412.75
INFO:tensorflow:loss = 0.34419733, step = 1600 (0.242 sec)
INFO:tensorflow:global_step/sec: 431.737
INFO:tensorflow:loss = 0.36417055, step = 1700 (0.232 sec)
INFO:tensorflow:global_step/sec: 394.296
INFO:tensorflow:loss = 0.438832, step = 1800 (0.254 sec)
INFO:tensorflow:global_step/sec: 459.109
INFO:tensorflow:loss = 0.5237286, step = 1900 (0.218 sec)
INFO:tensorflow:Saving checkpoints for 1960 into linear_model/model.ckpt.
INFO:tensorflow:Loss for final step: 0.46595487.

In [ ]:
linear_estimator.evaluate(input_fn = lambda : make_dataset(
    eval_df, y_eval, epochs = 1, shuffle = False))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer linear/linear_model is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-11-27T23:06:27Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from linear_model/model.ckpt-1960
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-11-27-23:06:28
INFO:tensorflow:Saving dict for global step 1960: accuracy = 0.7689394, accuracy_baseline = 0.625, auc = 0.83731246, auc_precision_recall = 0.7854023, average_loss = 0.48175895, global_step = 1960, label/mean = 0.375, loss = 0.4659178, precision = 0.6759259, prediction/mean = 0.43150055, recall = 0.7373737
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1960: linear_model/model.ckpt-1960

{'accuracy': 0.7689394,
 'accuracy_baseline': 0.625,
 'auc': 0.83731246,
 'auc_precision_recall': 0.7854023,
 'average_loss': 0.48175895,
 'label/mean': 0.375,
 'loss': 0.4659178,
 'precision': 0.6759259,
 'prediction/mean': 0.43150055,
 'recall': 0.7373737,
 'global_step': 1960}

In [ ]:
dnn_output_dir = './dnn_model'
if not os.path.exists(dnn_output_dir):
    os.mkdir(dnn_output_dir)
dnn_estimator = tf.estimator.DNNClassifier(
    model_dir = dnn_output_dir,
    n_classes = 2,
    feature_columns=feature_columns,
    hidden_units = [128, 128],
    activation_fn = tf.nn.relu,
    optimizer = 'Adam')
dnn_estimator.train(input_fn = lambda : make_dataset(
    train_df, y_train, epochs = 100))

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': './dnn_model', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fa929ef59b0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into ./dnn_model/model.ckpt.
INFO:tensorflow:loss = 1.1271487, step = 0
INFO:tensorflow:global_step/sec: 296.998
INFO:tensorflow:loss = 0.5400552, step = 100 (0.339 sec)
INFO:tensorflow:global_step/sec: 359.348
INFO:tensorflow:loss = 0.4437003, step = 200 (0.279 sec)
INFO:tensorflow:global_step/sec: 337.308
INFO:tensorflow:loss = 0.33601594, step = 300 (0.296 sec)
INFO:tensorflow:global_step/sec: 387.487
INFO:tensorflow:loss = 0.49424666, step = 400 (0.258 sec)
INFO:tensorflow:global_step/sec: 347.063
INFO:tensorflow:loss = 0.7322088, step = 500 (0.289 sec)
INFO:tensorflow:global_step/sec: 344.348
INFO:tensorflow:loss = 0.43665266, step = 600 (0.290 sec)
INFO:tensorflow:global_step/sec: 344.982
INFO:tensorflow:loss = 0.406223, step = 700 (0.290 sec)
INFO:tensorflow:global_step/sec: 339.888
INFO:tensorflow:loss = 0.6561513, step = 800 (0.295 sec)
INFO:tensorflow:global_step/sec: 351.597
INFO:tensorflow:loss = 0.43918383, step = 900 (0.284 sec)
INFO:tensorflow:global_step/sec: 347.3
INFO:tensorflow:loss = 0.38795522, step = 1000 (0.288 sec)
INFO:tensorflow:global_step/sec: 344.659
INFO:tensorflow:loss = 0.34792003, step = 1100 (0.290 sec)
INFO:tensorflow:global_step/sec: 358.702
INFO:tensorflow:loss = 0.45083064, step = 1200 (0.278 sec)
INFO:tensorflow:global_step/sec: 413.591
INFO:tensorflow:loss = 0.5417055, step = 1300 (0.242 sec)
INFO:tensorflow:global_step/sec: 406.694
INFO:tensorflow:loss = 0.44747913, step = 1400 (0.245 sec)
INFO:tensorflow:global_step/sec: 406.194
INFO:tensorflow:loss = 0.3141278, step = 1500 (0.246 sec)
INFO:tensorflow:global_step/sec: 373.633
INFO:tensorflow:loss = 0.21304882, step = 1600 (0.269 sec)
INFO:tensorflow:global_step/sec: 377.23
INFO:tensorflow:loss = 0.588811, step = 1700 (0.264 sec)
INFO:tensorflow:global_step/sec: 367.503
INFO:tensorflow:loss = 0.35748476, step = 1800 (0.272 sec)
INFO:tensorflow:global_step/sec: 370.83
INFO:tensorflow:loss = 0.24618372, step = 1900 (0.270 sec)
INFO:tensorflow:Saving checkpoints for 1960 into ./dnn_model/model.ckpt.
INFO:tensorflow:Loss for final step: 0.52054244.

In [ ]:
dnn_estimator.evaluate(input_fn = lambda : make_dataset(
    eval_df, y_eval, epochs = 1, shuffle = False))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-11-27T23:06:41Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./dnn_model/model.ckpt-1960
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-11-27-23:06:42
INFO:tensorflow:Saving dict for global step 1960: accuracy = 0.8030303, accuracy_baseline = 0.625, auc = 0.83826137, auc_precision_recall = 0.80377775, average_loss = 0.47656488, global_step = 1960, label/mean = 0.375, loss = 0.4588796, precision = 0.7326733, prediction/mean = 0.39838743, recall = 0.74747473
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1960: ./dnn_model/model.ckpt-1960

{'accuracy': 0.8030303,
 'accuracy_baseline': 0.625,
 'auc': 0.83826137,
 'auc_precision_recall': 0.80377775,
 'average_loss': 0.47656488,
 'label/mean': 0.375,
 'loss': 0.4588796,
 'precision': 0.7326733,
 'prediction/mean': 0.39838743,
 'recall': 0.74747473,
 'global_step': 1960}